<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Li5 [TEST]</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li5-test</string>
				<string>fb1704520549803884</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>159</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5fc65ced6ab2d25990ed5d5ce0fc5902cadfde38</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>branch_key</key>
					<string>key_test_ahscPtFXkqro2XgWHib7GpioyuekfWG5</string>
				</dict>
				<key>KitName</key>
				<string>Branch</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>CX0coQJi2J87Q0wJzilrLFeuy</string>
					<key>consumerSecret</key>
					<string>WG1uU1iLbHDFGEVldWa4OZ062HCm78nLrkv7PJ1A2o8tJwoqHp</string>
				</dict>
				<key>KitName</key>
				<string>Digits</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1704520549803884</string>
	<key>FacebookDisplayName</key>
	<string>Li5 [TEST]</string>
	<key>HeapAppId</key>
	<string>447934008</string>
	<key>InstaBugToken</key>
	<string>7e935d0c724a44a76f266a6cc1fe6f9f</string>
	<key>OneSignalAppID</key>
	<string>a9d9d964-de47-403f-bae2-43ecac096492</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Li5ApiEndpoint</key>
	<string>https://api-testing.li5.tv/v1</string>
	<key>Li5AppId</key>
	<string>1187286036</string>
	<key>Li5IntercomApiKey</key>
	<string>ios_sdk-72fccf2eab742ff777ea571c773c7e06051bc4ed</string>
	<key>Li5IntercomAppId</key>
	<string>m15fjkwh</string>
	<key>Li5StripePublicKey</key>
	<string>pk_test_RwxpEAjuWtwZdcUhT6vFRNpa</string>
	<key>Li5TOSUrl</key>
	<string>https://www-testing.li5.tv/legal</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Li5 uses your camera for recording a video to attach on your shares or upon your request to scan your credit card to fill the numbers for you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Li5 uses your location to populate the shipping or billing address for you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Li5 uses your microphone for recording a video to attach on your shares.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Li5 uses your library only to submit files through the chat.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen_Test</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
